@import './Variables.scss';

.product-card {
  display: flex;
  flex-direction: column;
  border: 1px solid $color-white;
  border-radius: 10px;
  margin: 20px;
  padding: 20px;
  background-color: $color-white;
  box-shadow: 0 4px 8px $shadow-black;
  overflow: hidden;

  .product-info {
    .product-title {
      font-size: 18px;
      font-weight: bold;
      margin-bottom: 10px;
    }

    .product-price {
      font-size: 16px;
      margin-bottom: 10px;

      .price {
        font-weight: bold;
        margin-right: 5px;
      }

      .discount {
        color: #ff0000;
      }
    }

    .product-rating {
      font-size: 14px;
      display: flex;
      justify-content: start;
      align-items: center;
    }
  }

}

.image-container {
  display: flex;
  justify-content: center;

  .product-image {
    width: 250px;
    height: 200px;
    object-fit: contain;
  }
}

.product-availability {
  padding: 7px 10px;
  background-color: $product-ava;
  border-radius: 50px;
  width: fit-content;
}

@media screen and (max-width: 750px) {
  .landingpage {
    .col-md-4 {
      width: 100% !important;
    }
  }
}