@import './Variables.scss';

.modal-product-container {
  display: flex;
  gap: 20px;
  padding: 20px;
  background-color: $background-grey-light;
  border-radius: 8px;
  box-shadow: 0 2px 4px $shadow-black;

  .modal-product-image {
    flex: 1;

    img {
      max-width: 100%;
      border-radius: 8px;
      border: 1px solid $border-grey;
    }
  }

  .modal-product-details {
    flex: 2;

    .modal-product-title {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 10px;
      color: $primary-blue;
    }

    .modal-product-description {
      font-size: 16px;
      color: $text-grey;
      margin-bottom: 10px;
    }

    .modal-product-meta {
      list-style: none;
      padding: 0;
      margin: 0;

      li {
        margin-bottom: 10px;

        strong {
          color: $primary-blue;
        }
      }
    }

    .modal-product-reviews-title {
      font-size: 20px;
      margin-top: 30px;
      margin-bottom: 10px;
      color: $primary-blue;
    }

    .modal-product-reviews {
      list-style: none;
      padding: 0;

      .modal-review-item {
        margin-bottom: 10px;

        strong {
          color: $primary-blue;
        }

        em {
          color: $light-grey-text;
        }
      }
    }
  }
}

.data-flex {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}

.product-image-modal {
  width: 100%;
  height: 100%;
  object-fit: contain;
  margin-left: 5px;
  border-radius: 8px;
  border: 1px solid $border-grey;
}

.product-display {
  width: 100px;
  height: 100px;
  object-fit: contain;
  border: 1px solid $border-grey;
}

@media screen and (max-width: 1000px) {
  .modal-page {
    .col-md-6 {
      width: 100% !important;
    }
  }
}

.modal-review-item {
  margin-bottom: 0.5rem;

  .review-content {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    .review-rating {
      background-color: $primary-color;
      color: $color-white;
      padding: 0.15rem 0.6rem;
      border-radius: 20px;
      font-size: 0.9rem;
      display: flex;
      align-items: center;
    }

    .review-comment {
      font-size: 1rem;
    }
  }

  .review-meta {
    margin-top: 0.3rem;
    font-size: 0.85rem;
  }
}

.font-time {
  font-size: 12px;
  color: $light-grey-text;
}