$primary-color: rgba(24, 119, 242, 1);
$secondary-color: #0000;
$grey-text-color: #d0cfcf;
$background-grey-color: #F7F8FA;
$color-white: white;
$button-disable: grey;
$primary-blue: #007bff;
$text-grey: #555;
$border-grey: #ddd;
$background-grey-light: #f9f9f9;
$shadow-black: rgba(0, 0, 0, 0.1);
$light-grey-text: #888;
$shadow-lightgrey: lightgrey;
$border-login: rgb(221, 218, 244);
$product-ava:#8a57ea;